<%- include("partials/header") %>

    <h1 style="text-align: center"> Input Todo </h1>
    <div style="text-align: center">

        <form action="/todos" method="POST">
            <div class="form-group">
                <!-- <label for="exampleFormControlTextarea4"><strong> Description</strong></label> -->
                <textarea class="form-control" cols="100" name="description" placeholder="Add Task"></textarea>
                <button class="btn btn-success">Add</button>
                <!-- <input type="Submit"> -->
            </div>
        </form>
    </div>

    <!-- <table style="text-align: center">
            <thead>
                <tr>
                    <th>DESCRIPTION</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
            </thead>
        </table> -->
    <h1 style="text-align: center"> Todo List</h1>
    <% for(let i=0;i<allTodo.length;i++){ %>
        <div class="container">
            <table class="table table-dark">
                <!-- <thead>
                <tr>
                    <th>DESCRIPTION</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
            </thead> -->
                <tbody>
                    <tr>
                        <td><strong><%= allTodo[i].description %></strong></td>
                        <td>
                            <form action="/todos/<%= allTodo[i].todo_id%>/edit" method="GET">
                                <button class="btn btn-success">EDIT</button>
                            </form>
                        </td>
                        <td>
                            <form action="/todos/<%= allTodo[i].todo_id%>?_method=DELETE" method="POST">
                                <button class="btn btn-warning">DELETE</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <% } %>
            <%- include("partials/footer") %>